<ul class="wrapper">
  <li><input type="radio" 
  			 value = "all" 
  			 name="active-filter" 
  			 class="btn btn-default" 
  			 ng-model = "main.activeFilter">all
  </li>
  <li><input type="radio" 
  			 value = "done" 
  			 name="active-filter" 
  			 class="btn btn-default" 
  			 ng-model = "main.activeFilter">done
  </li>
  <li><input type="radio" 
  			 value = "active" 
  			 name="active-filter" 
  			 class="btn btn-default" 
  			 ng-model = "main.activeFilter">active
  </li>
</ul>
{{main.activeFilter}}